head {
  font-family: Montserrat, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.container {
  max-width: 1200px;
  background-color: var(--white-color);
  margin: 0 auto;
  padding: 0 32px 173px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --orange-color: var(--ORANGE, #fd9222);
  --black-color: var(--BLACK, #111);
  --white-color: var(--WHITE, #fafafa);
  --light-orange: var(--LIGHT-ORANGE, #fcf1e0);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
    background-color: var(--white-color);
    margin: 0 auto;
    padding: 0 20px 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    background-color: var(--white-color);
    padding: 0 32px 100px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    background-color: var(--white-color);
    margin: 0 auto;
    padding: 0 32px;
  }
}

/* --------MOBILE----------- */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .top-sellers-container {
    margin-top: 0;
  }
  .top-seller-list {
    margin: 0 auto;
  }
  .top-sellers-image {
    border-radius: 15px;
    background-color: lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .top-seller-list:nth-child(n + 3) {
    display: none;
  }
  .top-sellers-list {
    display: block;
    margin: 0;
    padding: 0;
  }
  .top-sellers-text {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
    width: 306px;
    margin: 20px 0 32px;
    padding-right: 29px;
    position: relative;
    bottom: 386px;
  }
  .top-seller-list-relative {
    position: relative;
    top: 141px;
  }

  .top-sellers-button {
    background-color: var(--orange-color);
    color: var(--white-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: none;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 20px;
  }
  .top-sellers-button:hover,
  .top-sellers-button:active {
    background: var(--light-orange);
    color: var(--orange-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
  }
}

/* -----------TABLET-------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-seller-list {
    width: 768px;
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }
  .top-sellers-image {
    width: 344px;

    border-radius: 15px;
    background-color: lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .top-seller-list:nth-child(n + 3) {
    display: none;
  }
  .top-sellers-list {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
  }
  .top-sellers-item {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    align-items: flex-start;
    gap: 236px;
    flex-shrink: 0;
  }

  .top-sellers-text {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
    width: 306px;
    margin: 0;
    padding: 0;
  }
  .top-sellers-button {
    background-color: var(--orange-color);
    color: var(--white-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: none;
    padding: 14px 40px;
    gap: 14px;
  }
  .top-sellers-button:hover,
  .top-sellers-button:active {
    background: var(--light-orange);
    color: var(--orange-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
  }
}

/* ---------------DESKTOP-------------- */
@media screen and (min-width: 1200px) {
  .top-sellers-container {
    margin-top: 0;
  }
  .top-seller-list {
    margin: 0 auto;
  }
  .top-sellers-image {
    border-radius: 15px;
    background-color: lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .top-sellers-list {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
  }
  .top-sellers-item {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    align-items: flex-start;
    gap: 567px;
    flex-shrink: 0;
  }

  .top-sellers-text {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
    width: 407px;
    margin: 0;
    padding: 0;
  }
  .top-sellers-button {
    background-color: var(--orange-color);
    color: var(--white-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: none;
    padding: 14px 40px;
    gap: 14px;
  }
  .top-sellers-button:hover,
  .top-sellers-button:active {
    background: var(--light-orange);
    color: var(--orange-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    color: var(--color-contact);
    background-color: #ffffff;
  }
  img {
    display: block;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    margin-top: 123px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }
}

/* od tego momentu wklić* plus script odpowiedni do modala oraz w html trzeba zminiec sript*/

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* okno modalne*/

.bn-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.bn-close-btn:hover,
.bn-close-btn:focus {
  fill: #fd9222;
}

.buy-now-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 609px;
  height: 1058px;
  background-color: #fafafa;
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 609px;
  min-height: 1058px;
  border-radius: 15px;
  background: #fafafa;
  padding: 48px;
}

.buy-now-modal-text {
  color: #fd9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.bn-modal-span {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.bn-modal-img {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: center;
}

.bn-modal-item {
  display: flex;
  width: 160px;
  padding: 24px 20px 18px 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}
.bn-modal-item-text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  display: flex;
  padding: 8px 27px;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}

.bn-form-contact {
  display: flex;
  flex-direction: column;

  gap: 18px;
  margin-top: 40px;

  gap: 8px;
  padding-top: 40px;

  justify-content: center;
}

.bn-label-form {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
.bn-label-tittle {
  display: block;

  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.28px;

  margin-bottom: 8px;
}

.bn-input-form:focus {
  fill: #fd9222;
}

.bn-input {
  display: flex;
  gap: 21px;
}
.bn-input:focus-within {
  fill: #fd9222;
}

.bn-input-form {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  width: 100%;
  max-height: 66px;
  display: flex;
  padding: 22px 24px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bn-input-form:active,
.bn-input-form:focus {
  border: 1px solid #fd9222;
}
::placeholder {
  color: hsla(0, 0%, 25%, 0.3);
}

.bn-phone {
  padding-left: 121px;
}
.bn-input-form:active,
.bn-input-form:focus {
  border: 1px solid #fd9222;
}
.bn-textarea {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;

  width: 100%;
  height: 137px;
  display: flex;
  padding: 22px 24px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.bn-input-phone {
  padding-left: 106px;
}

.bn-label-form-phone {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.bn-textarea:hover,
.bn-textarea:focus,
.bn-textarea:focus-within,
.bn-input-form:hover,
.bn-input-form:focus,
.bn-input-form:focus-within {
  border-color: #fd9222;
}
.bn-input-svg {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 18px;
  padding-right: 32px;
  margin-left: 24px;
  border-right: 1.5px solid rgba(64, 64, 64, 0.3);
  color: #111;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.reviews-input-svg {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  margin-left: 18px;
  border-right: 1.5px solid rgba(64, 64, 64, 0.3);
  color: #111;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  margin-top: 21px;
}

.bn-input-svg > svg {
  width: 24px;
  height: 18px;
  transform: rotateX(180deg);
}

.reviews-input-svg > svg {
  width: 24px;
  height: 18px;
  transform: rotateX(180deg);
}
.bn-input-phone {
  padding-left: 106px;
}

.textarea:focus {
  border-color: #fd9222;
}

.reviews-input-tel {
  background-color: transparent;
  padding-left: 68px;
}
.reviews-input {
  border: none;
  display: flex;
  height: 35px;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 10px;
  outline: transparent;
}

.reviews-phone-container {
  width: 100%;
  position: relative;
}

.bn-submit-button {
  display: flex;
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #fd9222;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  gap: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 133px;
}
.bn-submit-button:hover,
.bn-submit-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;

  margin-top: 18px;
  width: 133px;
}

.bn-input-tel {
  padding: 10px 18px;
}

.bn-phone-container {
  width: 100%;
}
.bn-comment {
  height: 91px;
  resize: none;
  outline: transparent;
}

.x-icon {
  background-color: transparent;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .buy-now-modal {
    max-height: 994px;
    max-width: 311px;
    top: 50%;
    padding: 32px 24px;
  }
  .bn-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
  }
  .buy-now-modal-text {
    font-size: 20px;
    line-height: 1.2; /* 116.667% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }
  .bn-form-contact {
    margin-top: 32px;
    padding-top: 0;
  }
  .bn-modal-span {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.6px;
  }
  .bn-modal-img {
    display: flex;
    flex-direction: column;
  }
  .bn-modal-item {
    flex-direction: row;
    gap: 77px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    width: auto;
  }
  .bn-modal-item-text {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fafafa;
  }
  img {
    max-width: 84px;
    max-height: 69px;
  }
  .bn-input {
    flex-direction: column;
  }

  .bn-input-form {
    display: flex;
    flex-direction: column;
    max-width: 263px;
    padding: 14px 18px;
    align-items: flex-start;
    gap: 40px;
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    max-height: 45px;
  }
  .bn-textarea {
    font-size: 14px;
    letter-spacing: -0.28px;
    max-width: 272px;
    max-height: 91px;
    display: flex;
    padding: 14px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
  }

  .bn-input-phone {
    max-height: 45px;
  }

  .bn-input-phone {
    padding-left: 106px;
  }

  .textarea:focus {
    border-color: #fd9222;
  }

  .bn-submit-button {
    margin-top: 18px;
    display: flex;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #fd9222;
    border-radius: 100px;
    border: 1px solid #fd9222;
    padding: 12px 28px;
    gap: 14px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 109px;
  }

  .bn-input-tel {
    padding: 10px 18px;
  }
  .bn-phone-container {
    width: 100%;
  }
  .bn-comment {
    height: 91px;
    resize: none;
    outline: transparent;
  }
  .reviews-input {
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
    position: none;
    height: auto;
    outline: transparent;
    top: 0;
  }
  .reviews-input-svg {
    margin-top: 0%;
  }
}
