* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-contact);
  background-color: #ffffff;
}
img {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* okno modalne*/

.bn-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.bn-close-btn:hover,
.bn-close-btn:focus {
  fill: #fd9222;
}

.buy-now-modal {
  position: absolute;
  top: 0%;
  left: 30%;
  width: 609px;
  min-height: 1058px;
  border-radius: 15px;
  background: #fafafa;
}

.buy-now-modal-text {
  color: #fd9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 32px;
}

.bn-modal-span {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.bn-modal-img {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: center;
}

.bn-modal-item {
  display: flex;
  width: 160px;
  padding: 24px 20px 18px 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}
.bn-modal-item-text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  display: flex;
  padding: 8px 27px;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}

.bn-form-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 40px;
  justify-content: center;
}

.bn-label-form {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  padding-right: 48px;
}
.bn-label-tittle {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.bn-input-form:focus {
  fill: #fd9222;
}

.bn-input {
  display: flex;
  gap: 21px;
}
.bn-input:focus-within {
  fill: #fd9222;
}

.bn-input-form {
  width: 100%;
  height: 66px;
  display: flex;
  padding: 22px 24px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bn-input-form:active,
.bn-input-form:focus {
  border: 1px solid #fd9222;
}
::placeholder {
  color: hsla(0, 0%, 25%, 0.3);
}

.bn-phone {
  padding-left: 121px;
}
.bn-input-form:active,
.bn-input-form:focus {
  border: 1px solid #fd9222;
}
.bn-textarea {
  width: 100%;
  height: 137px;
  display: flex;
  padding: 22px 24px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.bn-label-form-phone {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
}
.bn-input-svg {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  margin-left: 18px;
  border-right: 1.5px solid rgba(64, 64, 64, 0.3);
  color: #111;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
}
.bn-input-svg > svg {
  width: 24px;
  height: 18px;
  transform: rotateX(180deg);
}
.bn-input-phone {
  padding-left: 106px;
}

.textarea:focus {
  border-color: #fd9222;
}

.bn-submit-button {
  display: flex;
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #fd9222;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  gap: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 48px;
  margin-right: 428px;
}

.bn-input-tel {
  padding: 10px 18px;
}
.bn-phone-container {
  width: 100%;
}
.bn-comment {
  height: 91px;
  resize: none;
  outline: transparent;
}
